/* You can add global styles to this file, and also import other style files */
html, body {
    padding: 30px;
}

.vertical {
    display: block;
    border: 1px solid;
    border-style: inset;
    height: 500px;
    float: left;
    
}